body {
    background-color: rgb(138, 61, 59);
}

p {
    text-align: justify;
}

.test {
    width: 80%;
    margin: auto;
    background-color: rgb(199, 183, 164);
    padding: 50px;
    margin-top: 30px;
}

nav {
    width: 80%;
    margin: auto;
}